<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 300px; background: #5dac7d !important;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Ubicacion
      </a>
      <input type="text" class="item ubicacion"/>
    </li>
    <li>
      <a class="nav-link link-light">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Precio
      </a>
      <a class="item" href="#" (click)="updateFilter()">$10.000  -     $300.000</a>
      <input type="range" class="item" step="10"/>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Publica
      </a>
      <a class="item" href="#" (click)="updateFilter()">Dueño directo</a>
      <a class="item" href="#" (click)="updateFilter()">Inmobiliaria</a>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Tipo de vivienda
      </a>
      <a class="item" href="#" (click)="updateFilter()">Casa</a>
      <a class="item" href="#" (click)="updateFilter()">Duplex</a>
      <a class="item" href="#" (click)="updateFilter()">Departamento</a>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Dormitorios
      </a>
      <a class="item" href="#" (click)="updateFilter()">1</a>
      <a class="item" href="#" (click)="updateFilter()">2</a>
      <a class="item" href="#" (click)="updateFilter()">3</a>
      <a class="item" href="#" (click)="updateFilter()">4 o más</a>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Ambientes
      </a>
      <a class="item" href="#" (click)="updateFilter()">1</a>
      <a class="item" href="#" (click)="updateFilter()">2</a>
      <a class="item" href="#" (click)="updateFilter()">3</a>
      <a class="item" href="#" (click)="updateFilter()">4 o más</a>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Baños
      </a>
      <a class="item" href="#" (click)="updateFilter()">1</a>
      <a class="item" href="#" (click)="updateFilter()">2</a>
      <a class="item" href="#" (click)="updateFilter()">3</a>
      <a class="item" href="#" (click)="updateFilter()">4 o más</a>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Cocheras
      </a>
      <a class="item" href="#" (click)="updateFilter()">No tiene</a>
      <a class="item" href="#" (click)="updateFilter()">1</a>
      <a class="item" href="#" (click)="updateFilter()">2</a>
      <a class="item" href="#" (click)="updateFilter()">3</a>
      <a class="item" href="#" (click)="updateFilter()">4 o más</a>
    </li>
    <li>
      <a class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Otras caracteristicas
      </a>
      <a class="item" href="#" (click)="updateFilter()">Jardin</a>
      <a class="item" href="#" (click)="updateFilter()">Parrilla</a>
      <a class="item" href="#" (click)="updateFilter()">Pileta</a>
      <a class="item" href="#" (click)="updateFilter()">Gimnasio</a>
      <a class="item" href="#" (click)="updateFilter()">Salon de usos multiples (SUM)</a>
    </li>
  </ul>
  <hr />
  <!-- <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
</div>
