form {
    padding: 15px;
}

#sexo > label {
    margin-right: 5%;
}

#sexo > label > input {
    margin-right: 5px;
}

select {
    width: 100%;
}

.profile-foto {
    display: block;
    height: 35%;
    width: 35%;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid black;
}

.no-foto-text {
    display: block; 
    text-align: center; 
    font-style: oblique; 
    margin-top: 16px;
}