<form>
      <div class="form-group">
        <h2>Sobre mi!</h2>
        <p>A continuacion deberas responder una serie de preguntas personales para que podamos encontrar la cita perfecta para vos. Esta informacion es confidencial y nunca sera revelada ni compartida con nadie, solo sera utilizada para encontrar alguien ideal para vos.</p>
      </div>

      <div class="form-group" (click)="addPhoto()">
        <img src="../../assets/default.png" class="profile-foto">
        <label class="no-foto-text">Agrega alguna foto de perfil</label>
        <!-- <input type="file" class="form-control" id="foto" placeholder="Foto"> -->
      </div>

      <div class="form-group">
        <label>Nombre:</label>
        <input *ngIf="socialAuthServive.authState | async as socialUser" type="text" class="form-control" placeholder="Nombre" value="{{socialUser.firstName}}" [disabled]="socialUser.firstName" formControlName="firstName">
      </div>

      <div class="form-group">
        <label>Apellido:</label>
        <input *ngIf="socialAuthServive.authState | async as socialUser" type="text" class="form-control" placeholder="Apellido" value="{{socialUser.lastName}}" [disabled]="socialUser.lastName" #lastName>
      </div>

      <div class="form-group">
        <label>Fecha de nacimiento:</label>
        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Edad">
      </div>

      <div class="form-group" id="sexo">
        <label>Sexo:</label><br>

          <label class="checkbox-inline">
            <input type="checkbox" value=""> Femenino
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Masculino
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Otro
          </label>
      </div>

      <div class="form-group">
        <label>Localidad:</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Localidad actual">
      </div>


      <div class="form-group">
        <label>Altura:</label>
        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Altura en metros (Ej: 1.70)">
        <br>
        <button type="reset" class="btn btn-secondary" (click)="editInfo()" *ngIf="!editData">Editar</button>

      </div>

      <div *ngIf="editData">
        <div class="form-group">
          <label>Perfil de Instagram:</label>
          <input type="url" class="form-control" id="exampleInputPassword1" placeholder="Instagram">
        </div>


        <div class="form-group" id="sexo">
          <label>Educacion:</label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Primario
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Secundario
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Universitario
            </label>
        </div>

        <div class="form-group" id="sexo">
          <label>Que carrera cursaste?</label>
          <select class="form-select-lg" aria-label="Default select example">
              <option value=""></option>
              <option *ngFor="let item of carreras">{{item}}</option>
          </select>
        </div>

        <div class="form-group" id="sexo">
          <label>Terminaste tu carrera universitaria?</label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Si
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">No
            </label>
        </div>

        <div class="form-group" id="sexo">
          <label>Trabajas? </label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Si
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">No
            </label>
        </div>

        <div class="form-group" id="sexo">
          <label>En que sector trabajas? </label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Publico
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Privado
            </label>
        </div>

        <div class="form-group" id="sexo" style="display: grid;">
          <label>En que rango se encuentra tu sueldo? </label><br>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Hasta $100.000               
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">$100.000 - $200.000
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">$200.000 - $300.000
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">$300.000 - $400.000
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">$400.000 - $500.000
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">$500.000 o mas.
            </label>
        </div>

        <div class="form-group" id="sexo">
          <label>Tenes auto propio?</label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Si
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">No
            </label>
        </div>

        <div class="form-group" id="sexo">
          <label>Tenes hijos/as? </label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Si
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">No
            </label>
        </div>


        <div class="form-group" id="sexo">
          <label>Vivis solo/a? </label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Si
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">No
            </label>
        </div>


        <div class="form-group" id="sexo" style="display: grid;">
          <label>Que planes a futuro tenes? </label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Casarme
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Tener hijos
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Irme del pais
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Otros
            </label>
        </div>

        <div class="form-group" id="sexo" style="display: grid;">
          <label>Que te gusta hacer en tu tiempo libre? </label><br>

            <label class="checkbox-inline">
              <input type="checkbox" value="">Hacer actividad fisica/Gimnasio
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Leer
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Escuchar musica
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Series/Peliculas
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Cocinar
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Salir con amigxs
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Aprender algo nuevo
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Otros
            </label>
        </div>
    </div>


    <button class="btn btn-primary" (click)="save()">Guardar</button>
  </form>

  <app-footer></app-footer>